* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #af9983;
}

/* headings and logo */

h1,
h2,
h3 {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #884f2b;
    line-height: 1.2em;
}

.btn {
    color: #884f2b;
}

.link-index {
    color: #884f2b;
}


#logo {
    float: left;
    font-size: 200%;
    margin-top: 15px;
    margin-left: 5%;
    color: #884f2b;
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation links */

.nav-link{
    color: #3a3a3a;
}

/* Hero image and cover text */

#hero-outer {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 60vh;
    width: 100%;
    background-image: url(../images/friends.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#food-image {
    height: 60vh;
    width: 100%;
    background-image: url(../images/restaurant.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.hr-food {
    border-top: 1px solid white;
    width: 100%;
    height: 3px;
    margin: 3vh 0;
}

hr {
    border-top: 1px solid #884f2b;
    width: 100%;
    height: 3px;
    margin: 3vh 0;
}

#to-restaurant {
    margin-top: 1vh;
    left: 0;
    font-size: smaller;
    text-align: center;
}

.image-cuba,
.image-park {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 500px;
}



#restaurant h2,
#restaurant h3 {
    color: #fafafa;
}

/* restaurant*/

.link {
    color: #884f2b;
}

.restaurant {
    background-color: white;
}

.col {
    background-color: #5a848e;
}

.col h2,
.col h3,
.col p {
    color: black;
}

/* Form */
.form-section {
    min-height: calc(100vh - 200px);
    background-image: url("../images/coffee.jpg");
    background-size: cover;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


.signup-form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

.form-check {
    margin-top: 10px;
}

.btn-primary {
    background-color: #884f2b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #5a848e;
}

/* Footer */

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 4vh;
    margin: 1%;
    padding: 2%;
    color: #3a3a3a;
}