* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #af9983;
}

/* headings and logo */

h1,
h2,
h3 {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #884f2b;
    line-height: 1.2em;
}

.btn {
    color: #884f2b;
}

.link-index {
    color: #884f2b;
}


#logo {
    float: left;
    font-size: 200%;
    margin-left: 5%;
    color: #884f2b;
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: #884f2b;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 5%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover text */

#hero-outer {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 60vh;
    width: 100%;
    background-image: url(../images/friends.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#food-image {
    height: 60vh;
    width: 100%;
    background-image: url(../images/restaurant.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#cover-text,
#cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 4vh;
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 0, 5vh;

    width: 40vw;
    height: 30vh;

    padding-top: 5vh;
    padding-left: 2vw;

    background-color: rgba(241, 109, 107, .7);

    bottom: 5vh;
    right: 10vw;

    position: absolute;

}

/* Latin ethos */

/* #left-about {
    padding-top: 2vh;
} */

/* #right-about {
    padding-top: 5vh;
    width: 100%;
    float: none;
} */

hr {
    border-top: 1px solid #884f2b;
    width: 100%;
    height: 3px;
    margin: 3vh 0;
}

/* 
.left-about-heading {
    line-height: 2vh;
    clear: both;
    margin-bottom: 5vh;
}

.right-about-heading {
    width: 30%;
    float: left;
    line-height: 2vh;
    clear: both;
    margin-bottom: 5vh;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
} */

/* Latin ethos  image */

/* #welcome {
    margin: 2vh 0;
    text-align: center;
    font-size: 4vh;
} */

/* #circle-container {
    width: 40vh;
    height: 40vh;
    padding: 5vh;
    border-style: solid;
    border-color: #5a848e;
    border-width: 1vh;
    margin: 0 auto;
} */

#to-restaurant {
    margin-top: 1vh;
    left: 0;
    font-size: smaller;
    text-align: center;
}

.image-cuba,
.image-park {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 500px;
}

/* .cuba-image {
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url(../images/cuba.jpg);
} */

/* Event times */

#times {
    background-image: url('../images/group-friends.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#restaurant h2,
#restaurant h3 {
    color: #fafafa;
}

/* restaurant*/

.link {
    color: #884f2b;
}

.restaurant {
    background-color: white;
}

.col {
    background-color: #5a848e;
}

.col h2,
.col h3,
.col p {
    color: black;
}


/* Footer */

footer {
    height: 10vh;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 4vh;
    margin: 1%;
    padding: 2%;
    color: #3a3a3a;
}

/* Form */
.form-section {
    clear: left;
    background: url(../images/coffee.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

.signup-form {
    margin: 20px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2,
h3 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}